name: Get Google Trends Cookies

on:
  workflow_dispatch:
  push:

jobs:
  run-playwright:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          playwright install chromium

      - name: Run script
        run: python get_cookies.py

      - name: Upload cookie file
        uses: actions/upload-artifact@v4
        with:
          name: google-trends-cookies
          path: google_trends_cookies.txt
